//颜色定义规范
$bg-color = #030406
$color = #999999
$d-color = #2b2e37
$red = #fe2c55
$yellow = #face15
$b-color = #161823
$t-color = rgba(255, 255, 255, 0.5)
$border-color = #323338
//字体定义规范

$common-font = 14px
$small-font = 12px
$large-font = 22px
